.filters {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 30px;
}

.filters-p {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    padding-right: 4px;
}


.filter-box {
    display: flex;
    border-radius: 25px;
    border: #d9d9d9 2px solid;
    padding: 10px;
}

.filter-name {
  padding-right: 10px;
}

.filter-box:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.filter-box:focus {
  background-color: var(--filter-bg-color);
}

.filter-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.info-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.div-icon-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 24px;
  min-height: 24px;
  border: #D9D9D9 1px solid;
  border-radius: 50%;
  margin-right: 10px;
}


.icon-info {
  line-height: 0px;
}

.info-p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.78px;
}

.circle-info {
  margin-right: 10px;
}

.filter-box-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 10px;
}

.presentation-and-filters {
  margin-top: 20px;
}

@media (max-width: 767.98px) {
  .filter-box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 0px;
    row-gap: 20px;
    width: 100%;
  }

  .filter-box {
    flex: 0 0 47%;

    padding: 10px;
    border: #d9d9d9 2px solid;
    border-radius: 25px;
    min-height: 50px;
    max-height: 50px;
    justify-content: center;
    min-width: 70px;
  }

.filter-box-container > :first-child {
  margin-left: 0;
}


.p-first {
  margin-top: 20px;
  display: flex;
  font-size: 18px;
}

.filters-p {
  display: flex;
  align-items: center;
  padding-bottom: 0;
  padding-top: 0;
  padding-right: 0px;
}

.filters-p:not(:first-child) {
  font-size: 14px;
}

.filter-icon, .filters-p {
  padding-top: 0;
  padding-bottom: 0;
  /* margin-top: 0;
  margin-bottom: 0; */
  margin: 0;
  margin-right: 5px;
  margin-left: 3px;
}
}
