.navbar-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

.logo {
  width: 61.09px;
  height: 19px;
}

.list-navbar {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-navbar li:not(:last-child) {
  margin-inline: 50px;
}

.list-navbar li a {
  padding-top: 19px;
}

.blank-span {
  display: none;
}

.list-navbar li a:hover, .list-navbar li a:focus, .list-navbar li a:focus-visible, .list-navbar li a:active {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

@media (max-width: 767.98px) {
  .navbar {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    align-items: center; /* Align the items to the left */
    width: 100%;
    padding: 30px 0 0 0;
    padding-bottom: 0px;
  }

  .logo-container {
    width: 100%; /* Make the logo container take full width */
    text-align: center; /* Center the logo */
    padding-bottom: 10px;
  }

  .list-navbar {
    display: flex;
    width: 100%;
    justify-content:space-around;
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .list-navbar li:first-child {
    margin-inline: 0px;
  }
  .list-navbar li a {
    display: block;
    padding-bottom: 15px;
  }

  .list-navbar li {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
  }

  .list-navbar li a:hover, .list-navbar li a:focus, .list-navbar li a:focus-visible, .list-navbar li a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    border-top: none;
  }

  h1 {
    margin: 0;
  }
}
