.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; /* Keeps the internal width */
  margin: 0 auto; /* Centers the navbar */
  padding: 20px 0;
}

.logo {
  width: 61.09px;
  height: 19px;
}

.list-navbar {
  list-style-type: none;
  display: flex;
  margin-top: 0px;
}

.list-navbar li:not(:last-child) {
  margin-inline: 50px;
}

.list-navbar li a {
  padding-top: 18px;
}

.list-navbar li a:hover {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}

.list-navbar li a:focus {
  color: var(--main-color);
  border-top: 3px solid var(--main-color);
}
