.search-form {
  display:flex;
}

.elements {
  display:flex;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 49px;
  background-color: var(--filter-bg-color);
  border-radius: 15px;
  /* width: 377px; */
}

.location-placeholder {
    align-self: center;
    text-align: center;
    height: 93%;
    border: none;
    font-size: 18px;
    font-weight: 700;
    padding-left: 0;
    padding-right: 0;
    flex: 1;
    box-sizing: border-box;
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

  ::placeholder {
    color: black;
    opacity: 1;
  }

  .map-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
    width: 50px;
    color: black !important;
  }

  .search-button {
    border: 0cap;
    width: 132px;
    font-size: 18px;
    border-radius: 0 15px 15px 0;
    background-color: var(--main-color);
    color: white;
    font-weight: 700;
    text-align: center;
  }

  .search-button:hover {
    background-color: #005792;
    cursor: pointer;
  }
